<div class="jumbotron jumbotron-fluid" style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
    <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
        <h3 class="display-8">Ordinations</h3>
        <p class="lead">Select ordination for appointment</p>
    </div>
</div>
<p>
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#searchForm" aria-expanded="false"
        aria-controls="searchForm">
        Search ordinations
    </button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#filterForm" aria-expanded="false"
        aria-controls="filterForm">
        Filter ordinations
    </button>
</p>
<div class="collapse" id="searchForm">
    <div class="card card-body">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Name: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" class="form-control" formControlName="name" style="border: 0;" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Number: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="number" class="form-control" formControlName="number" style="border: 0;" />
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label font-weight-bold">Date: </label>
                <div class="row col-lg-6 col-sm-10 col-md-6 shadow-sm p-1 mb-1 ml-1 bg-white rounded col">
                    <div class="col-lg-10 col-sm-10 col-md-10">
                        <input type="datetime" formControlName="date" [owlDateTime]="dt2" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && searchForm.controls.date.errors }" id="date"
                            style="border: 0;">
                    </div>
                    <span class="m-1 float-right col-lg-1 col-sm-2 col-md-2" [owlDateTimeTrigger]="dt2"> <i
                            class="fa fa-calendar"></i> </span>
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                </div>
            </div>
            <button class="btn btn-primary ">Search</button>
        </form>
    </div>
</div>
<div class="collapse" id="filterForm">
    <div class="card card-body">
        <form [formGroup]="filterForm">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Name: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" class="form-control" formControlName="name" style="border: 0;" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Number: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" class="form-control" formControlName="number" style="border: 0;" />
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor='let param of ordinationsHeaders'>{{param}}</th>
            <th scope="col">
                <!-- <button type="button" class="btn btn-light" (click)="addNewOrdination()">Add</button> -->
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let ordination of filteredOrdinations'>
            <td> {{ordination.name}} </td>
            <td> {{ordination.number}} </td>
            <td> {{ordination.available === undefined ? 'Date not selected': ordination.available ? 'Available': 'Not Available - First available date: '+ ordination.firstAvailableDate}}
            </td>
            <!-- <td *ngIf="ordination.available" class="collapse" id="availablePeriods{{ordination.id}}">
                <div class="card card-body">
                    <div *ngFor="let timeslot of ordination.availablePeriods">
                        {{ timeslot }}
                    </div>
                </div>
            </td> -->
            <td *ngIf="ordination.available">
                <button class="btn btn-light" type="button" (click)="showAvailableTimeslots(ordination)">
                    Show available timeslots
                </button>
                <!-- <button class="btn btn-light" type="button" data-toggle="collapse"
                    (click)="showAvailableTimeslots(ordination)" [attr.data-target]="'#availablePeriods'+ordination.id"
                    aria-expanded="false" aria-controls="filterForm">
                    Show available timeslots
                </button> -->
            </td>
        </tr>
    </tbody>
</table>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h4 class="modal-title">Appointment info</h4>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mx-auto">
            <div class="col">
                <div class="card" style="height: 32em;">
                    <div class="card-body text-center">
                        <p class="card-title"> <b>Doctor</b>: {{modalData.appointment.doctors[0].name}}
                            {{modalData.appointment.doctors[0].surname}} </p>
                        <hr style="width:60%">
                        <p class="card-text"> <b>Patient</b>: {{modalData.appointment.patient.name}}
                            {{modalData.appointment.patient.surname}} </p>
                        <hr style="width:60%">
                        <p class="card-text"> {{modalData.appointment.typeOfExamination.name}} </p>
                        <hr style="width:50%"><br>
                        <p class="card-text"> <b>Selected time</b>: {{modalData.appointment.startTimeString}} </p>
                        <hr style="width:50%">
                        <p class="card-text"> <b>Selected end time</b>:
                            {{modalData.appointment.endTimeString ? modalData.appointment.endTimeString : "Not specified"}}
                        </p>
                        <hr style="width:50%">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="height: 32em;">
                    <div class="card-header text-center text-muted">
                        <label class="card-text">Availible timeslots</label>
                    </div>
                    <div class="card-body text-center" style="overflow-y: scroll">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor='let param of timeslotsHeaders'>{{param}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let period of modalData.ordinationData.filteredPeriods; index as i'
                                    [attr.data-index]="i">
                                    <td> {{ period.split('-')[0] }} </td>
                                    <td> {{ period.split('-')[1] }} </td>
                                    <td>
                                        <button *ngIf="!getAlreadySelected(i)" class="btn btn-secondary" type="button"
                                            aria-haspopup="true" (click)="selectTimeslot(period, i)">
                                            Select
                                        </button>
                                        <button *ngIf="getAlreadySelected(i)" class="btn btn-primary" type="button"
                                            aria-haspopup="true" (click)="deselectTimeslot(i)">
                                            Selected
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()" (click)="closeModal()">
            Close
        </button>
    </div>
</ng-template>