<div class="jumbotron jumbotron-fluid" style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
    <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
        <h3 class="display-8">Ordinations</h3>
        <p class="lead">Select ordination for appointment</p>
    </div>
</div>
<p>
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#searchForm" aria-expanded="false"
        aria-controls="searchForm">
        Search ordinations
    </button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#filterForm" aria-expanded="false"
        aria-controls="filterForm">
        Filter ordinations
    </button>
</p>
<div class="collapse" id="searchForm">
    <div class="card card-body">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Name: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" class="form-control" formControlName="name" style="border: 0;" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Number: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="number" class="form-control" formControlName="number" style="border: 0;" />
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label font-weight-bold">Date: </label>
                <div class="row col-lg-6 col-sm-10 col-md-6 shadow-sm p-1 mb-1 ml-1 bg-white rounded col">
                    <div class="col-lg-10 col-sm-10 col-md-10">
                        <input type="datetime" formControlName="date" [owlDateTime]="dt2" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && searchForm.controls.date.errors }" id="date"
                            style="border: 0;">
                    </div>
                    <span class="m-1 float-right col-lg-1 col-sm-2 col-md-2" [owlDateTimeTrigger]="dt2"> <i
                            class="fa fa-calendar"></i> </span>
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                </div>
            </div>
            <button class="btn btn-primary ">Search</button>
        </form>
    </div>
</div>
<div class="collapse" id="filterForm">
    <div class="card card-body">
        <form [formGroup]="filterForm">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Name: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" class="form-control" formControlName="name" style="border: 0;" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Number: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" class="form-control" formControlName="number" style="border: 0;" />
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor='let param of ordinationsHeaders'>{{param}}</th>
            <th scope="col">
                <!-- <button type="button" class="btn btn-light" (click)="addNewOrdination()">Add</button> -->
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let ordination of filteredOrdinations'>
            <td> {{ordination.name}} </td>
            <td> {{ordination.number}} </td>
            <td> {{ordination.available === undefined ? 'Date not selected': ordination.available ? 'Available': 'Not Available - First available date: '+ ordination.firstAvailableDate}}
            </td>
            <td *ngIf="ordination.available" class="collapse" id="availablePeriods{{ordination.id}}">
                <div class="card card-body">
                    <div *ngFor="let timeslot of ordination.availablePeriods">
                        {{ timeslot }}
                    </div>
                </div>
            </td>
            <td *ngIf="ordination.available">
                <button class="btn btn-light" type="button" data-toggle="collapse"
                    [attr.data-target]="'#availablePeriods'+ordination.id" aria-expanded="false"
                    aria-controls="filterForm">
                    Show free timeslots
                </button>
            </td>
        </tr>
    </tbody>
</table>