<div class="jumbotron jumbotron-fluid col-lg-8 col-sm-10"
    style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
    <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
        <h3 class="display-8">{{change}} a type of examination</h3>
        <p class="lead">Here you can {{change.toLowerCase()}} a type of examination.</p>
    </div>
</div>
<div class="m-5 mx-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset [disabled]="change === 'Change'">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Name: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }"
                        class="form-control" formControlName="name" style="border: 0;" />
                    <div *ngIf="submitted && form.controls.name.errors" class="invalid-feedback">
                        <div *ngIf="form.controls.name.errors.required">Name is required</div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label font-weight-bold" for="code">Price: </label>
            <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                <input type="number" [ngClass]="{ 'is-invalid': submitted && form.controls.price.errors }"
                    class="form-control" formControlName="price" style="border: 0;" />
                <div *ngIf="submitted && form.controls.price.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.price.errors.required">Price is required</div>
                </div>
            </div>
        </div>
        <fieldset [disabled]="change === 'Change'">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="code">Operation: </label>
                <div class="col-sm-2 col-lg-2  p-1 mb-1 ">
                    <input type="checkbox" [ngClass]="{ 'is-invalid': submitted && form.controls.operation.errors }"
                        class="form-control" formControlName="operation" style="border: 0;" />
                </div>
            </div>
        </fieldset>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>