<div class="jumbotron jumbotron-fluid col-lg-12 col-sm-12"
    style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
    <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
        <h3 class="display-8">Adding clinic</h3>
        <p class="lead">Here you can add a new clinic.</p>
    </div>
</div>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold" for="inputClinicName">Name</label>
        <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <input type="text" class="form-control" name="name" [(ngModel)]=name placeholder="Clinic Name"
                style="border: 0;">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold" for="inputClinicAddress">Address</label>
        <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <input type="text" class="form-control" name="inputClinicAddress" [(ngModel)]="address"
                placeholder="Clinic address" style="border: 0;" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold" for="inputClinicCity">City</label>
        <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <input type="text" class="form-control" name="inputClinicCity" [(ngModel)]="city" placeholder="Clinic city"
                style="border: 0;" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold" for="inputClinicState">State</label>
        <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <input type="text" class="form-control" name="inputClinicState" [(ngModel)]="state"
                placeholder="Clinic state/country" style="border: 0;" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold" for="inputClinicDescription">Description</label>
        <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <textarea class="form-control" name="name" [(ngModel)]="description" rows="3"
                placeholder="Clinic description" style="border: 0;"></textarea>
        </div>
    </div>
    <button type="button" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</form>