<div class="jumbotron jumbotron-fluid" style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
  <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
    <h3 class="display-8">{{title}}</h3>
    <p class="lead">Here you can see a list of existing {{jumboText}}, change them, or add a new one.</p>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"
      *ngFor='let param of params'>{{param}}</th>
      <th scope="col">
        <button type="button" class="btn btn-light">Add</button>
      </th>
    </tr>
    <tr *ngFor='let entry of tableList'>
      <td *ngFor='let item of values(entry)'>{{item}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['./clinicAdmins']"
            [queryParams]="{params:clinicAdminHeaders | json ,title:'Clinic administrator',jumboText:'clinic administraor'}">Show administrators</a>
            <a class="dropdown-item" href="#">Change</a>
            <a class="dropdown-item" href="#">Delete</a>

          </div>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
