<div class="row text-center border-top " style="padding-top: 0.3em;">
  <div class="col-md-4">
    <div class="btn-group float-left p-1">
      <div
        class="btn btn-outline-dark"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-outline-dark"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4 shadow-sm">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group float-right p-1">
      <div
        class="btn btn-outline-dark"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-outline-dark"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-outline-dark"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div class="border rounded shadow pl-5 pr-5 pb-5" [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [dayStartHour]="daystart"
    [dayEndHour]="dayend"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [dayStartHour]="daystart"
    [dayEndHour]="dayend"
    [hourSegments]="6"
  >
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />



<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">{{modalData?.appointment.typeOfExamination.name}}</h4>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">

      <div class="jumbotron jumbotron-fluid col-lg-8 col-sm-8"
      style="max-height: 2em; margin-top:0.2em; padding-top: 0.3em; ">
      <div class="container-fluid" style="max-height: 1em;">
        <h3 class="h5">{{modalData?.appointment.typeOfExamination.name}}</h3>
        <h6 class="h6" *ngIf="!modalData?.appointment.patient" > *Available appointment </h6>
        <h6 class="h6" *ngIf="modalData?.appointment.completed" > *Finished appointment </h6>

      </div>
    </div>
        <div *ngIf="modalData?.appointment.patient" class="form-group row ">
          <label for="Surname" class="col-sm-2 col-form-label font-weight-bold">Patient Name</label>
          <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <input type="text" class="form-control" value="{{modalData?.appointment.patient.name}}" style="border: 0;" disabled/>
          </div>
        </div>
        <div *ngIf="modalData?.appointment.patient" class="form-group row">
          <label for="Surname" class="col-sm-2 col-form-label font-weight-bold">Patient surname</label>
          <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <input type="text" class="form-control" value="{{modalData?.appointment.patient.surname}}" style="border: 0;" disabled/>
          </div>
        </div>
        <div class="form-group row">
          <label for="Surname" class="col-sm-2 col-form-label font-weight-bold">Ordination</label>
          <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
            <input type="text" class="form-control" value="{{modalData?.appointment.ordination.name + ' ' + modalData?.appointment.ordination.number }}" style="border: 0;" disabled/>
          </div>
      </div>
        <div class="form-group row">
            <label for="Surname" class="col-sm-2 col-form-label font-weight-bold">Starting time</label>
            <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
              <input type="text" class="form-control" value="{{timeConverter(modalData?.appointment.startingDateAndTime)}}" style="border: 0;" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <label for="Surname" class="col-sm-2 col-form-label font-weight-bold">Ending time</label>
            <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
              <input type="text" class="form-control" value="{{timeConverter(modalData?.appointment.endingDateAndTime)}}" style="border: 0;" disabled/>
            </div>
        </div>
    <div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Cancel
    </button>
    <button *ngIf="!modalData?.appointment.completed" type="button" class="btn btn-outline-success" (click)="startExamination()">
      Start examination
    </button>
  </div>
</ng-template>
