<div class="jumbotron jumbotron-fluid col-lg-12 col-sm-12" style="max-height: 1em; margin-top:0.5em; padding-top: 0.5em;">
  <div class="container-fluid" style="max-height: 1em; margin-bottom: 0.5em;">
      <h3 class="display-8">Examination report</h3>
  </div>
</div>
<div class="col-12 border-top border-bottom p-0 m-0 mb-2" >

              <label class="font-weight-bold"><img src="assets/images/typeOfExamination.png"
              style="width: 2em; height: 2em;">{{type}}</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
              <img src="assets/images/datetime.png"
                  style="width: 2em; height: 2em;">{{timeConverter(datetime)}}


          <div class="row border-top  pt-3 ">
            <label class="col-sm-3 col-form-label font-weight-bold float-left border-bottom">Doctor:</label>
            <div class="col-sm-10 col-lg-9 shadow-sm p-1 mb-1 bg-white rounded ">
              <div class="input-group mb-3" style="border: 0; height: 1em;">
                <input type="text" class="form-control input-display"
                  value='{{doctor}} '  disabled/>
                <div class="input-group-append">
                  <span class="input-group-text" style=" height: 2.35em;"><img src="assets/images/doctor.png"
                      style=" width: 1.7em; height: 1.7em;"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row  ">
            <label class="col-sm-3 col-form-label font-weight-bold float-left border-bottom">Date:</label>
            <div class="col-sm-10 col-lg-9 shadow-sm p-1 mb-1 bg-white rounded ">
              <div class="input-group mb-3" style="border: 0; height: 1em;">
                <input type="text" class="form-control input-display"
                  value='{{timeConverter(datetime)}}'  disabled/>
                <div class="input-group-append">
                  <span class="input-group-text" style=" height: 2.35em;"><img src="assets/images/datetime.png"
                      style=" width: 1.7em; height: 1.7em;"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row  pt-3 mb-2">
            <label class="col-sm-3 col-form-label font-weight-bold float-left border-bottom">Report description:</label>
            <div class="col-sm-10 col-lg-9 shadow-sm p-1 mb-1 bg-white rounded ">
              <div class="input-group mb-3" style="border: 0; height: 4em;">
                <textarea type="text" class="form-control input-display" style="height: 5em;"
                  value='' ></textarea>
                <div class="input-group-append">
                  <span class="input-group-text" style=" height: 5em;"><img src="assets/images/description.png"
                      style=" width: 1.7em; height: 1.7em;"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row  pt-2 mb-1">
            <div class="col-6 border-top pt-2">
              <div class="bg-white clearfix rounded ">
                <label class="col-sm-3 col-form-label font-weight-bold float-left">Diagnoses</label>
                <img class="float-right" src="assets/images/diagnosis.png" style=" width: 2em; height: 2em; ">
              </div>
              <div class="overflow-auto border rounded" style="max-height: 11.4em;">
                <ul class="list-group rounded">
                  <li class="list-group-item" ></li>
                  <li >
                    <div class="alert alert-info" role="alert"
                    >Doctor established no diagnosis.</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 border-top pt-2">
              <div class="bg-white clearfix rounded ">
                
                <img class="float-right" src="assets/images/drug.png" style=" width: 2em; height: 2em; ">
              </div>
              
              <div class="overflow-auto border rounded" style="max-height: 11.4em;">
                <ngx-select-dropdown (change)="selectionChanged($event)" formControlName="selectData" [multiple]="true" [config]="config" [options]="prescriptions"></ngx-select-dropdown>
              </div>
            </div>
          </div>
</div>
