<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <ng-container *ngIf="!userService.checkLoggedIn();else second">
                <a class="navbar-brand" routerLink="/">Clinical System</a>
            </ng-container>
            <ng-template #second>
                <ng-container *ngIf="userService.checkLoggedIn().roles.indexOf('PATIENT')!= -1; else third"> <a
                        class="navbar-brand" routerLink="/patient">Clinical System</a> </ng-container>
            </ng-template>
            <ng-template #third>
                <ng-container *ngIf="userService.checkLoggedIn().roles.indexOf('DOCTOR')!= -1; else fourth"> <a
                        class="navbar-brand" routerLink="/doctor">Clinical System</a> </ng-container>
            </ng-template>
            <ng-template #fourth>
                <ng-container> <a class="navbar-brand" routerLink="/">Clinical System</a> </ng-container>
            </ng-template>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active" *ngIf="userService.checkLoggedIn()">
                        <ng-container *ngIf="!userService.checkLoggedIn();else second">
                            <a class="nav-link" routerLink="/">Home</a>
                        </ng-container>
                        <ng-template #second>
                            <ng-container *ngIf="userService.checkLoggedIn().roles.indexOf('PATIENT')!= -1; else third">
                                <a class="nav-link" routerLink="/patient">Home</a>
                             </ng-container>
                        </ng-template>
                        <ng-template #third>
                            <ng-container *ngIf="userService.checkLoggedIn().roles.indexOf('DOCTOR')!= -1; else fourth">
                                <a class="nav-link" routerLink="/doctor">Home</a>
                             </ng-container>
                        </ng-template>
                        <ng-template #fourth>
                            <ng-container  *ngIf="userService.checkLoggedIn().roles.indexOf('NURSE')!= -1; else fifth">
                                <a class="nav-link" routerLink="/nurse">Home</a>
                             </ng-container>
                        </ng-template>
                        <ng-template #fifth>
                            <ng-container>
                                <a class="nav-link" routerLink="/">Home</a>
                             </ng-container>
                        </ng-template>
                    </li>
                    <li class="nav-item" *ngIf="userService.checkLoggedIn()">
                        <!-- *ngIf="userService.user" -->
                        <a class="nav-link" *ngIf="userService.checkLoggedIn().roles.indexOf('ADMINCC')!= -1"
                            routerLink="/adminCCdashboard">Dashboard</a>
                        <a class="nav-link" *ngIf="userService.checkLoggedIn().roles.indexOf('ADMINC')!= -1"
                            routerLink="/adminCdashboard">Dashboard</a>
                        <a class="nav-link" *ngIf="userService.checkLoggedIn().roles.indexOf('PATIENT')!= -1"
                            routerLink="/patient/profile">My Profile</a>
                        <a class="nav-link" *ngIf="userService.checkLoggedIn().roles.indexOf('DOCTOR')!= -1"
                            routerLink="/doctor/profile">My Profile</a>
                        <a class="nav-link" *ngIf="userService.checkLoggedIn().roles.indexOf('NURSE')!= -1"
                            routerLink="/nurse/profile">My Profile</a>

                    </li>
                    <li class="nav-item" *ngIf="!userService.checkLoggedIn()">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="!userService.checkLoggedIn()">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="userService.checkLoggedIn()">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            style="cursor: pointer;" aria-haspopup="true" aria-expanded="false">
                            {{userService.checkLoggedIn().name}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="cursor: pointer;">
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
