<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Login to KCV</h4>
      <div class="card-body">
          <form>
              <div class="form-group">
                  <label for="username">Email</label>
                  <input type="text" placeholder="example@kcv.rs"/>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" placeholder="*****"/>
              </div>
              <button class="btn btn-primary">
                  Login
              </button>
          </form>
      </div>
  </div>
</div>