<div class="jumbotron jumbotron-fluid col-lg-8 col-sm-8" style="margin-top:0.5em; padding-top: 0.5em;">
  <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
      <h3 class="display-8">New Appointment</h3>
      <p class="lead">Send a schedule request for a new appointment.</p>
  </div>
</div>

<div>
  <form *ngIf='form' [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset [disabled]="true">
          <div class="form-group row">
              <label for="dateAndTime" class="col-sm-2 col-lg-3 col-form-label font-weight-bold">Date and time</label>
              <div class="row col-lg-4 col-sm-8 col-md-6 shadow-sm p-1 mb-1 bg-white rounded col">
                  <div class="col-lg-10 col-sm-10 col-md-10">
                      <input type="datetime" formControlName="dateAndTime" [owlDateTime]="dt2" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && form.controls.dateAndTime.errors }" id="dateAndTime"
                          style="border: 0;">
                      <div *ngIf="submitted && form.controls.dateAndTime.errors" class="invalid-feedback">
                          <div *ngIf="form.controls.dateAndTime.errors.required">Date and time is required</div>
                      </div>
                  </div>
                  <!--<span class="m-1 float-right col-lg-1 col-sm-2 col-md-2" [owlDateTimeTrigger]="dt2"> <i
                          class="fa fa-calendar"></i> </span>-->
                  <owl-date-time [startAt]="now" [stepMinute]="10" [stepSecond]="60" #dt2></owl-date-time>
              </div>
          </div>
        </fieldset>
  
      <fieldset [disabled]="true">
        <div class="form-group row">
          <label for="typeOfExamination" class="col-sm-2 col-lg-3 col-form-label font-weight-bold">Type of
              examination</label>
          <div class="row col-lg-4 col-sm-8 col-md-6 shadow-sm p-1 mb-1 bg-white rounded col">
              <select formControlName="typeOfExamination" name="formTOE" class="m-1 form-control"
                  (change)="setPriceFromTypeOfExamination()"
                  [ngClass]="{ 'is-invalid': submitted && form.controls.typeOfExamination.errors }" id="typeOfExamination"
                  style="border: 0; width: 100%;">
                  <option *ngFor="let type of ExaminationTypes" [value]="type.id">{{type.name}}
                  </option>
              </select>
              <div *ngIf="submitted && form.controls.typeOfExamination.errors" class="invalid-feedback ml-3">
                  <div *ngIf="form.controls.typeOfExamination.errors.required">Please select type of examination</div>
              </div>
          </div>
         </div>
       </fieldset>

  
      <div class="form-group row">
          <label class="col-sm-2 col-lg-3 col-form-label font-weight-bold" for="price">Price: </label>
          <label class="col-sm-2 col-lg-3 col-form-label font-weight-bold" for="priceVal"> {{price}} </label>
      </div>
    <div class="col">
      <div class="accordion col-lg-6 col-sm-6 mb-5 p-0" id="accordionExample1">
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          Clinic information
                      </button>
                  </h2>
              </div>
  
              <div id="collapseOne" class="collapse border" aria-labelledby="headingOne"
                  data-parent="#accordionExample1">
                  <div class="card-body">
                      <div class="row">
                          <label class="col-lg-4"> <b>Name:</b> </label>
                          <label class="col-lg-8"> {{clinic.name}} </label>
                      </div>
                      <div class="row">
                          <label class="col-lg-4"><b>Address: </b> </label>
                          <label class="col-lg-8"> {{clinic.address}}, {{clinic.city}}, {{clinic.state}} </label>
                      </div>
                      <div class="row">
                          <label class="col-lg-4"><b>Rating: </b> </label>
                          <label class="col-lg-8"><star-rating value='{{clinic.numberOfStars/clinic.numberOfReviews}}' totalstars="5" checkedcolor="blue" uncheckedcolor="gray" size="20px" readonly="true"></star-rating></label>
                      </div>
  
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="accordion col-lg-6 col-sm-6 mb-5 p-0" id="accordionExample2">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        Doctor information
                    </button>
                </h2>
            </div>

            <div id="collapseTwo" class="collapse border" aria-labelledby="headingTwo"
                data-parent="#accordionExample2">
                <div class="card-body">
                    <div class="row">
                        <label class="col-lg-4"> <b>Name:</b> </label>
                        <label class="col-lg-8"> {{doctor.name}} {{doctor.surname}} </label>
                    </div>
                    <div class="row">
                        <label class="col-lg-4"><b>Email: </b> </label>
                        <label class="col-lg-8"> {{doctor.email}} </label>
                    </div>
                    <div class="row">
                      <label class="col-lg-4"><b>Working hours: </b> </label>
                      <label class="col-lg-8">{{doctor.shiftStart}} - {{doctor.shiftEnd}}</label>
                  </div>
                    <div class="row">
                        <label class="col-lg-4"><b>Rating: </b> </label>
                        <label class="col-lg-8"><star-rating value='{{doctor.numberOfStars/doctor.numberOfReviews}}' totalstars="5" checkedcolor="blue" uncheckedcolor="gray" size="20px" readonly="true"></star-rating></label>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  
      <div class="col-lg-8 col-sm-10">
          <hr>
      </div>
   
      <div>
          <button type="submit" class="btn btn-primary">Send scheduling request</button>
          <button type="button" class="btn btn-outline-primary m-1" (click)='cancelChanges()'>Cancel</button>
      </div>
  </form>
</div>