<div class="jumbotron jumbotron-fluid col-lg-8 col-sm-8"
  style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
  <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
    <h3 class="display-8">Clinic info</h3>
    <p class="lead">Here you can see, or change clinic information.</p>
  </div>
</div>
<form *ngIf='clinicForm' [formGroup]="clinicForm" (ngSubmit)="onSubmit()">
  <fieldset [disabled]="formDisabled">
    <div class="form-group row">
      <label for="Name" class="col-sm-2 col-form-label font-weight-bold">Name</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && clinicForm.controls.name.errors }" 
        id="Name" formControlName="name" style="border: 0;" />
        <div *ngIf="submitted && clinicForm.controls.name.errors" class="invalid-feedback">
          <div *ngIf="clinicForm.controls.name.errors.required">Name is required</div>
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label for="Address" class="col-sm-2 col-form-label font-weight-bold">Address</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && clinicForm.controls.address.errors }" 
        id="Address" formControlName="address" style="border: 0;" />
        <div *ngIf="submitted && clinicForm.controls.address.errors" class="invalid-feedback">
          <div *ngIf="clinicForm.controls.address.errors.required">Address is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="City" class="col-sm-2 col-form-label font-weight-bold">City</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && clinicForm.controls.city.errors }" 
        id="City" formControlName="city" style="border: 0;" />
        <div *ngIf="submitted && clinicForm.controls.city.errors" class="invalid-feedback">
          <div *ngIf="clinicForm.controls.city.errors.required">City is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="State" class="col-sm-2 col-form-label font-weight-bold">State</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && clinicForm.controls.state.errors }" 
        id="State" formControlName="state" style="border: 0;" />
        <div *ngIf="submitted && clinicForm.controls.state.errors" class="invalid-feedback">
          <div *ngIf="clinicForm.controls.state.errors.required">State is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="Description" class="col-sm-2 col-form-label font-weight-bold">Description</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && clinicForm.controls.description.errors }" 
        id="Description" formControlName="description" style="border: 0;" />
        <div *ngIf="submitted && clinicForm.controls.description.errors" class="invalid-feedback">
          <div *ngIf="clinicForm.controls.description.errors.required">Description is required</div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-10">
      <hr>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary" *ngIf='!formDisabled'>Submit changes</button>

</form>
<button type="button" class="btn btn-outline-primary" *ngIf='formDisabled' (click)='enableChangeInfo()'>Change
  information</button>
<br><br>