<div class="jumbotron jumbotron-fluid" style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
  <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
      <h3 class="display-8">Doctors</h3>
      <p class="lead">Here you can see a list of this clinic centers doctors.</p>
  </div>
</div>
<p>
  <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#searchForm"
      aria-expanded="false" aria-controls="searchForm">
      Search
  </button>
  &nbsp;&nbsp;&nbsp;
  <button *ngIf="!notSearched" class="btn btn-light" type="button" data-toggle="collapse" data-target="#filterForm"
      aria-expanded="false" aria-controls="filterForm">
      Filter
  </button>
</p>
<div class="collapse" id="filterForm">
  <div class="card card-body">
      <form [formGroup]="filterForm">
          <div class="form-group row">
              <label class="col-sm-2 col-form-label font-weight-bold" for="name">Name: </label>
              <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                  <input type="text" class="form-control" formControlName="name" style="border: 0;" />
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label font-weight-bold" for="surname">Surname: </label>
              <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                  <input type="text" class="form-control" formControlName="surname" style="border: 0;" />
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label font-weight-bold" for="rating">Rating: </label>
              <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                  <input type="text" class="form-control" formControlName="rating" style="border: 0;" />
              </div>
          </div>
      </form>
  </div>
</div>
<div class="collapse" id="searchForm">
  <div class="card card-body">
          <form [formGroup]="form" (ngSubmit)="onSearch()">
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label font-weight-bold" for="name">Name: </label>
                  <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                      <input type="text" class="form-control" formControlName="name" style="border: 0;" />
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-2 col-form-label font-weight-bold" for="surname">Surname: </label>
                  <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                      <input type="text" class="form-control" formControlName="surname" style="border: 0;" />
                  </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold" for="rating">Rating: </label>
                <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
                    <input type="text" class="form-control" formControlName="rating" style="border: 0;" />
                </div>
            </div>

              <div class="form-group row">
                  <label for="typeOfExamination" class="col-sm-2 col-lg-3 col-form-label font-weight-bold">Type of
                      examination: </label>
                  <div class="row col-lg-4 col-sm-8 col-md-6 shadow-sm p-1 mb-1 bg-white rounded col">
                      <select formControlName="typeOfExamination" class="m-1 form-control"
                          [ngClass]="{ 'is-invalid': submitted && form.controls.typeOfExamination.errors }" id="typeOfExamination"
                          style="border: 0; width: 100%;">
                          <option value=""></option>
                          <option *ngFor="let type of typesOfExamination" [value]="type.id">{{type.name}}
                          </option>
                      </select>
                      <div *ngIf="submitted && form.controls.typeOfExamination.errors" class="invalid-feedback ml-3">
                          <div *ngIf="form.controls.typeOfExamination.errors.required">Please select type of examination</div>
                      </div>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="date" class="col-sm-2 col-form-label font-weight-bold">Date: </label>
                  <div class="row col-lg-6 col-sm-10 col-md-6 shadow-sm p-1 mb-1 ml-1 bg-white rounded col">
                      <div class="col-lg-10 col-sm-10 col-md-10">
                          <input type="datetime" formControlName="date" [owlDateTime]="dt2" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && form.controls.date.errors }" id="date"
                              style="border: 0;">
                      </div>
                      <span class="m-1 float-right col-lg-1 col-sm-2 col-md-2" [owlDateTimeTrigger]="dt2"> <i
                              class="fa fa-calendar"></i> </span>
                      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                      <div *ngIf="submitted && form.controls.date.errors" class="invalid-feedback ml-3">
                          <div *ngIf="form.controls.date.errors.required">Please select a date</div>
                      </div>
                  </div>
              </div>

              <button class="btn btn-primary ">Search</button>
          </form>
  </div>
</div>
<table class="table">
  <thead>
      <tr>
          <th scope="col" *ngFor='let param of doctorHeaders'>{{param}}</th>
          <th scope="col">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sort by
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" style="cursor: pointer;" (click)="sortName()" >Name</a>
                      <a class="dropdown-item" style="cursor: pointer;" (click)="sortSurname()">Surname</a>
                      <a class="dropdown-item" style="cursor: pointer;" (click)="sortRating()">Rating</a>
                  </div>
              </div>
          </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let doctor of doctorsFiltered'>
          <td> {{doctor.name}} </td>
          <td> {{doctor.surname}} </td>
          <td> {{doctor.id}} </td>
          <td>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Options
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" style="cursor: pointer;" (click)="showClinicInfo(clinic)">Show availible appointments</a>
                  </div>
              </div>
          </td>
      </tr>
  </tbody>
</table>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
      <h4 class="modal-title">Availible appointments</h4>
      <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body ">
      <app-medical-record [patientID]="modalData?.doctorID" [patientName]="modalData?.doctorName">
      </app-medical-record>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
          Close
      </button>
  </div>
</ng-template>