<div class="jumbotron jumbotron-fluid col-lg-12 col-sm-12"
  style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
  <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
    <h3 class="display-8">Adding clinic administrator</h3>
    <p class="lead">Here you can add a new clinic administrator.</p>
  </div>
</div>
<form *ngIf='form' [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="Name" class="col-sm-2 col-form-label font-weight-bold">Name</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }" 
        id="Name" formControlName="name" style="border: 0;" />
        <div *ngIf="submitted && form.controls.name.errors" class="invalid-feedback">
          <div *ngIf="form.controls.name.errors.required">Code is required</div>
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label for="Surname" class="col-sm-2 col-form-label font-weight-bold">Surname</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.surname.errors }" 
        id="Surname" formControlName="surname" style="border: 0;" />
        <div *ngIf="submitted && form.controls.surname.errors" class="invalid-feedback">
          <div *ngIf="form.controls.surname.errors.required">Code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="Email" class="col-sm-2 col-form-label font-weight-bold">E-mail</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors }" 
        id="Email" formControlName="email" style="border: 0;" />
        <div *ngIf="submitted && form.controls.email.errors" class="invalid-feedback">
          <div *ngIf="form.controls.email.errors.required">Code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="Address" class="col-sm-2 col-form-label font-weight-bold">Address</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.address.errors }" 
        id="Address" formControlName="address" style="border: 0;" />
        <div *ngIf="submitted && form.controls.address.errors" class="invalid-feedback">
          <div *ngIf="form.controls.address.errors.required">Code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="City" class="col-sm-2 col-form-label font-weight-bold">City</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.city.errors }" 
        id="City" formControlName="city" style="border: 0;" />
        <div *ngIf="submitted && form.controls.city.errors" class="invalid-feedback">
          <div *ngIf="form.controls.city.errors.required">Code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="State" class="col-sm-2 col-form-label font-weight-bold">State</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.state.errors }"
         id="State" formControlName="state" style="border: 0;" />
        <div *ngIf="submitted && form.controls.state.errors" class="invalid-feedback">
          <div *ngIf="form.controls.state.errors.required">Code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="PhoneNumber" class="col-sm-2 col-form-label font-weight-bold">Phone number</label>
      <div class="col-sm-10  col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.phoneNumber.errors }" 
        id="PhoneNumber" formControlName="phoneNumber" style="border: 0;" />
        <div *ngIf="submitted && form.controls.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="form.controls.phoneNumber.errors.required">Code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="JMBG" class="col-sm-2 col-form-label font-weight-bold">JMBG</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && form.controls.upin.errors }" 
        id="JMBG" formControlName="upin" style="border: 0;" />
        <div *ngIf="submitted && form.controls.upin.errors" class="invalid-feedback">
          <div *ngIf="form.controls.upin.errors.required">Code is required</div>
          <div *ngIf="form.controls.upin.errors.minlength">Code is exactly 13 characters long</div>
          <div *ngIf="form.controls.upin.errors.maxlength">Code is exactly 13 characters long</div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label font-weight-bold">Password</label>
      <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div> -->
    <div class="col-lg-8 col-sm-10">
      <hr>
    </div>

  <button type="submit" class="btn btn-primary" *ngIf='!change'>Add administrator to clinic: {{clinicName}}</button>

</form>
<br><br>