<div class="jumbotron jumbotron-fluid" style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
    <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
        <h3 class="display-8">Available appointments</h3>
        <p class="lead">Here you can see and choose appointment quickly.</p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor='let param of appointmentHeaders'>{{param}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let appointment of appointments'>
            <td> {{appointment.doctors[0].name + " " + appointment.doctors[0].surname}} </td>
            <td> {{appointment.ordination.name + " - " + appointment.ordination.number}} </td>
            <td> {{appointment.typeOfExamination.name}} </td>
            <td> {{appointment.formatedDateAndTime}} </td>
            <td> {{appointment.duration / 1000 / 60}} </td>
            <td> {{appointment.price}} </td>
            <td> {{appointment.discount}} </td>
            <td>
            <button type="button" id="{{'appointment'+appointment.id}}" class="btn btn-secondary" (click)="chooseAvailableAppointment(appointment)">Choose</button>
            </td>
        </tr>
    </tbody>
</table>