<div class="jumbotron jumbotron-fluid col-lg-8 col-sm-10"
  style="max-height: 6em; margin-top:0.5em; padding-top: 0.5em; ">
  <div class="container-fluid" style="max-height: 2em; margin-bottom: 0.5em;">
    <h3 class="display-8">Add doctor</h3>
    <p class="lead">Here you can add a doctor.</p>
  </div>
</div>
<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorShiftStart">Email:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="email" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.email.errors }" class="form-control"
        id="doctorEmail" aria-describedby="doctorEmail" placeholder="example@kcv.rs" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.email.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.email.errors.required">Email is required</div>
        <div *ngIf="doctorForm.controls.email.errors.email">Email must be a valid Email address</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorName">Name:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.name.errors }" class="form-control" id="doctorName"
        aria-describedby="doctorName" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.name.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.name.errors.required">Name is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorSurname">Surname:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="surname"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.surname.errors }" class="form-control"
        id="doctorSurname" aria-describedby="doctorSurname" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.surname.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.surname.errors.required">Surname is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorAddress">Address:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="address"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.address.errors }" class="form-control"
        id="doctorAddress" aria-describedby="doctorAddress" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.address.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.address.errors.required">Address is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorCity">City:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="city"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.city.errors }" class="form-control" id="doctorCity"
        aria-describedby="doctorCity" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.city.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.city.errors.required">City is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorState">State:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="state"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.state.errors }" class="form-control"
        id="doctorState" aria-describedby="doctorState" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.state.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.state.errors.required">State is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorPhone">Phone number:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="phoneNumber"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.phoneNumber.errors }" class="form-control"
        id="doctorPhone" aria-describedby="doctorPhone" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.phoneNumber.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.phoneNumber.errors.required">Phone number is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorShiftStart">Shift start:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="shiftStart"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.shiftStart.errors }" class="form-control"
        id="doctorShiftStart" aria-describedby="shiftSHelp" placeholder="ex. 07:00" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.shiftStart.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.shiftStart.errors.required">Shift is required</div>
        <div *ngIf="doctorForm.controls.shiftStart.errors.minlength">Shift is exactly 5 characters long</div>
        <div *ngIf="doctorForm.controls.shiftStart.errors.maxlength">Shift is exactly 5 characters long</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorShiftEnd">Shift end:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="shiftEnd"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.shiftEnd.errors }" class="form-control"
        id="doctorShiftEnd" placeholder="ex. 15:00" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.shiftEnd.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.shiftEnd.errors.required">Shift is required</div>
        <div *ngIf="doctorForm.controls.shiftEnd.errors.minlength">Shift is exactly 5 characters long</div>
        <div *ngIf="doctorForm.controls.shiftEnd.errors.maxlength">Shift is exactly 5 characters long</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="doctorUpin">UPIN:</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded">
      <input type="text" formControlName="upin"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.upin.errors }" class="form-control" id="doctorUpin"
        aria-describedby="doctorUpin" style="border: 0;" />
      <div *ngIf="submitted && doctorForm.controls.upin.errors" class="invalid-feedback">
        <div *ngIf="doctorForm.controls.upin.errors.required">UPIN is required</div>
        <div *ngIf="doctorForm.controls.upin.errors.minlength">UPIN is exactly 13 characters long</div>
        <div *ngIf="doctorForm.controls.upin.errors.maxlength">UPIN is exactly 13 characters long</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="specialization" class="col-sm-2 col-form-label font-weight-bold">Specialization</label>
    <div class="col-sm-10 col-lg-6 shadow-sm p-1 mb-1 bg-white rounded col">
      <select formControlName="specialization" class="m-1 form-control"
        [ngClass]="{ 'is-invalid': submitted && doctorForm.controls.specialization.errors }" id="specialization"
        style="border: 0; width: 100%;">
        <option value=""></option>
        <option *ngFor="let type of typesOfExamination" [value]="type.id">{{type.name}}
        </option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>